<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
        *{
            font-family: "poppins", sans-serif;
            margin: 10px;
        }
    </style>
</head>
<body>
    <div style="display:grid; min-height:90vh;text-align: center; align-items: center;">
    <div>
        <h1>Thank You !!!</h1>
        <p>Your File is Uploaded successfully</p>
    </div>
    </div>
</body>
</html>